<!doctype html>
<html ng-app="Calendar">

	<head>
		<meta charset="UTF-8"> 
		
		<link rel="stylesheet" href="css/styles.css" type="text/css">
		<title>Angular Calendar Example</title>
	</head>
	
	<body ng-controller="CalendarCtrl" bn-document-mousemove="mousemove()" bn-document-mouseup="mouseup()">
		<header>
			<h1>Angular Calendar Example</h1>
			<div id="date" ng-cloak>
				<span class="handle" ng-click="switchDate(-7)">&#8610;</span>
				<time class="viewStart" datetime="{{view.start}}">{{view.start | dateFilter:"DD.MM"}}</time>
				<span class="seperator">&#150;</span> 
				<time class="viewEnd" datetime="{{view.end}}">{{view.end | dateFilter:"DD.MM.YY"}}</time>
				<span class="handle" ng-click="switchDate(+7)">&#8611;</span>
			</div>
		</header>
		<div id="calendar">
			<ng-include src="'views/calendar/main.html'"></ng-include>
			<ng-include src="'views/event/list.html'"></ng-include>
		</div>
		
 		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>

		<script type="text/javascript">
		if (!window.jQuery)
		    document.write(unescape("%3Cscript src='js/jquery-1.8.3.min.js' type='text/javascript'%3E%3C/script%3E"));
		if (!window.angular)
			document.write(unescape("%3Cscript src='js/angular-1.0.3.min.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		
		<script src="js/moment.min.js" type="text/javascript"></script>
		<script src="js/functions.js" type="text/javascript"></script>
	</body>
	
</html>